/**
 * Design Reference:
 * https://cacoo.com/diagrams/88x93Ppap4rtGUhs#5F65C
 */
/**
 * Collection of the colors
 */
.Divider {
  display: block;
  position: absolute;
  width: 4px;
  border-left: 20px solid #ffffff; }

.Divider.is-resizable {
  cursor: col-resize; }

.Divider .segment {
  display: block;
  position: absolute;
  width: 4px;
  background-color: #d5d8dd; }

.Divider .first {
  height: 26px; }

.Divider .second {
  margin-top: -5px;
  height: calc(100% - 114px); }

.Divider svg {
  margin-top: 20px; }

.Divider line {
  stroke: #d5d8dd;
  stroke-width: 4; }

.Divider polygon {
  stroke: white;
  fill: white; }

.Divider .only {
  height: 100%; }
