<div class="Divider" #divider
  [ngStyle]="{left: (left$ | async), top: position.top, height: 'calc(100% - ' + position.top + ')'}"
  [ngClass]="{'is-resizable': isResizable}"
  [ngSwitch]="rightArrow"
>
  <div *ngSwitchCase="true">
    <div class="segment first"></div>
    <svg height="100" width="30">
        <polygon points="0,0 17,48 0,100"></polygon>
        <line x1="0" y1="0" x2="20" y2="50" />
        <line x1="20" y1="48" x2="0" y2="100" />
    </svg>
    <div class="segment second"></div>
  </div>
  <div *ngSwitchDefault>
    <div class="segment only"></div>
  </div>
</div>
