@import 'utils/colors';

.Divider {
  display: block;
  position: absolute;
  width: 4px;
  border-left: 20px solid $white;
}
.Divider.is-resizable {
  cursor: col-resize;
}
.Divider .segment {
  display: block;
  position: absolute;
  width: 4px;
  background-color: $gray;
}
.Divider .first {
  height: 26px;
}
.Divider .second {
  margin-top: -5px;
  height: calc(100% - 114px);
}
.Divider svg {
  margin-top: 20px;
}
.Divider line {
  stroke: $gray;
  stroke-width: 4
}
.Divider polygon {
  stroke: white;
  fill: white;
}
.Divider .only {
  height: 100%;
}
